# Server Configuration
PORT=3001
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/?appName=MongoDB+Compass&directConnection=true&serverSelectionTimeoutMS=2000

# Authentication
JWT_SECRET=MySuperSecretJWTKey_ChangeThis
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=redis-15348.c259.us-central1-2.gce.cloud.redislabs.com:15348
REDIS_LOCK_TTL=30000

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
STRIPE_SUCCESS_URL=http://localhost:3000/booking/success
STRIPE_CANCEL_URL=http://localhost:3000/booking/cancel

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (Nodemailer - Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=ayushdonga111@gmail.com
EMAIL_PASSWORD=12345678
EMAIL_FROM=Appointment Booking <noreply@appointmentbooking.com>

# OTP Settings
OTP_EXPIRES_IN=10
OTP_LENGTH=6

# Frontend
FRONTEND_URL=http://localhost:3000/http://localhost:3000/

# Other
MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/jpg,image/webp
